<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character - left  sprites-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1572,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1572,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1572,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1572,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character - left  sprites-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robot1_left.png</string>
            <key>size</key>
            <string>{1834,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252ddb6b66974f9b58602f5ed7794038:43d0e7483ecdc41a9767e367dff887be:d89a5299d42b82afdbe179dea725bcba$</string>
            <key>textureFileName</key>
            <string>robot1_left.png</string>
        </dict>
    </dict>
</plist>
