<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Robot left-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,524},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,786},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1048,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1310,0},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{0,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{524,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robot left-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,262}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{786,262},{262,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robot-left.png</string>
            <key>size</key>
            <string>{1572,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5dff869e7e11147a59bb59afebcc0de:d45f6bbfdec939ef5a28c60ee470105e:c4d3f5afa66b7965fad1d94745b30d16$</string>
            <key>textureFileName</key>
            <string>robot-left.png</string>
        </dict>
    </dict>
</plist>
