<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minerals-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,280}</string>
                <key>spriteSourceSize</key>
                <string>{292,280}</string>
                <key>textureRect</key>
                <string>{{0,0},{292,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minerals-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,280}</string>
                <key>spriteSourceSize</key>
                <string>{292,280}</string>
                <key>textureRect</key>
                <string>{{292,0},{292,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minerals-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,280}</string>
                <key>spriteSourceSize</key>
                <string>{292,280}</string>
                <key>textureRect</key>
                <string>{{584,0},{292,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mineral.png</string>
            <key>size</key>
            <string>{876,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89010c215e754b1acd6ddeb62e89052a:5126ad8cbb1a8bd22b1be261398cd149:83ae6f7eca4c7cb1d49d57d50f47e1fc$</string>
            <key>textureFileName</key>
            <string>mineral.png</string>
        </dict>
    </dict>
</plist>
